{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ofifut</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Usuarios del sistema</h1>
			</div>
		</div>
		<div class="row">
			{% for usuario in usuarios %}
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
				{{ usuario }}
			</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>